*{
  box-sizing:  border-box;
  margin: 0;
  padding: 0;
}
h1{
	margin-top: 200px;
}

header 
{	

	margin-top: 4%;
	margin-right: 2%;
	margin-left: 2%;
	text-align: center;

}

section, div
{
	margin-right: 2%;
	margin-left: 2%;
}


.titulo{
    text-align: center;
    font-size: 40px;
    align-items: center;
}

.parrafo{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    
}

.tabla_datos{
	width: 100%;
	text-align: center;
	border: 1px;
}
td{
	width: 25%;
	text-align: left;
}
thead{
	text-align: center;
}


body{

    height: 100vh;
    background-size: #FFFFFF;

}
input {
	margin-right: 520px;
	margin-left: 520px;
    margin-top: 150px;
	width: 400px;
	border-radius: 10px;
	padding: 5px;
	outline: none;
	background-color: #bdbdbd;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px;

}
.resultado {
	position: absolute;
	background-color: #fff;
	width:270px;
	padding-top: 10px;
	padding-right: 20px;
	padding-left:20px;
	border-radius: 3px;
	box-shadow: 5px 5px 5px #000;
	text-align: center;
}
.salida{
	position: absolute;
	background-color: #fff;
	width:270px;
	padding-top: 10px;
	padding-right: 20px;
	padding-left:20px;
	border-radius: 3px;
	box-shadow: 5px 5px 5px #000;
	text-align: center;
}
