<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/w3c.css">
    <title>Layaould</title>
</head>
<body>
    <div class="w3-row">
        <div class="w3-container w3-teal w3-center">
            <h1 style="color: #fff;">MEDIFÁCIL</h1>
        </div>
    </div>
    <div class="w3-row w3-bar w3-light-green">
    <a href="../index.html" class="w3-bar-item w3-button w3-mobile">Comparador</a>
        <a href="../objetivo.html" class="w3-bar-item w3-button w3-mobile">Objetivo</a>
        <a href="../num.html" class="w3-bar-item w3-button w3-mobile">Numeros de Emergencia</a>
        <a href="../register/form.php" class="w3-bar-item w3-button w3-mobile">Registro</a>
    </div>
</body>
</html>
